<a href="https://colab.research.google.com/github/sampadahirulkar/pythonlearning/blob/main/Type_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
birth_year = input('Birth year: ')
age = 2020 - birth_year
print(age)

Birth year: 2002

TypeError: ignored

The above code shows error because, basically what we did was subtract the input given to 'birth_year', which was a string, from '2020', an integer.
Hence why we need to learn about type conversion.

In [2]:
birth_year = input('Birth year: ')
age = 2020 - int(birth_year)
print(age)

Birth year: 2002
18

In [3]:
birth_year = input('Birth year: ')
print(type(birth_year))
age = 2020 - int(birth_year)
print(type(age))
print(age)

Birth year: 2002
<class 'str'>
<class 'int'>
18

Whenever you use the input function, you get a string.